body {
    background-color: #EEE
}


/*navbar styles */
.navbar-default {
	background-color: #008000;
	border-color: #096006;
}
.navbar-default .navbar-brand {
	color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #a2de85;
}
.navbar-default .navbar-text {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #a2de85;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #a2de85;
	background-color: #096006;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #a2de85;
	background-color: #096006;
}
.navbar-default .navbar-toggle {
	border-color: #096006;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #096006;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ecf0f1;
}
.navbar-default .navbar-link {
	color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
	color: #a2de85;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ecf0f1;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #a2de85;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #a2de85;
		background-color: #096006;
	}
}

/*home content*/
.home-top-content{
    text-align: center;
}

.h-centered{text-align: center}


/* maps */

 html, body, #mapPoa-canvas  {
  margin: 0;
  padding: 0;
  height: 100%;
}
 html, body, #mapPel-canvas  {
  margin: 0;
  padding: 0;
  height: 100%;
}
            html, body, #map-canvas  {
  margin: 0;
  padding: 0;
  height: 100%;
}
#mapPoa-canvas {
  min-width: 500px;
  min-height: 400px;
  width:100%;
  height:100%;
  background-color: #CCD;
  
}
#mapPel-canvas {
  min-width: 500px;
  min-height: 400px;
  width:100%;
  height:100%;.
  background-color: #CCD;
  
}

.mapContainer{
    margin:  0px auto;
    text-align: center;
    position: 
}

.locationFooter{
    text-align: right;       
}